@font-face {
  font-family: "aest";
  src: url("fonts/Yellowtail-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "aest1";
  src: url("fonts/Sora-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "aest2";
  src: url("fonts/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "aest3";
  src: url("fonts/Inter-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "aest4";
  src: url("fonts/Inter-Medium.ttf") format("truetype");
}

.main {
  margin-top: 100px;
  width: 100%;
  height: 300px;
}

.welcomeuser {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

.photo {
  margin: 0;
  position: absolute;
  top: 52%;
  left: 80%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  z-index: -999;
}

.maincontent {
  width: 810px;
  height: 50px;
  font-family: "aest3";
  color: #163d5e;
  margin: 0;
  position: absolute;
  top: 41%;
  left: 34%;
  transform: translate(-50%, -50%);
  font-size: 35px;
}

body {
  font-family: "aest2";
  background-image: url("images/backent.webp");
  background-attachment: fixed;
}
.welcomeuser {
  font-family: "aest3";
  color: #163d5e;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
}
.managestuff {
  font-family: "aest3";
  color: #163d5e;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
}
.right {
  width: 300px;
  margin: 0;
  position: absolute;
  top: 5%;
  left: 85%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
.appointments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.loginprompt {
  width: 810px;
  height: 50px;
  margin: 0;
  position: absolute;
  top: 63%;
  left: 34%;
  transform: translate(-50%, -50%);
}
.loginbutton2 {
  font-family: "aest4";
  font-size: 23px;
  padding: 10px;
  border: none;
  transition-duration: 500ms;
  background-color: #fff5f4;
}
.loginbutton2:hover {
  cursor: pointer;
  transition-duration: 500ms;
  background-color: #ffdcd3;
}
.fts {
  width: 810px;
  height: 50px;
  font-family: "aest3";
  color: #163d5e;
  margin: 0;
  position: absolute;
  top: 53%;
  left: 34%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
.loggo {
  width: 650px;
  height: 100px;
}

.logo {
  margin: 0;
  position: absolute;
  top: 1%;
  left: 1%;
  /* transform: translate(-50%, -50%); */
  font-size: 25px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:visited {
  color: #6e757a;
}
.login {
  transition-duration: 500ms;
}
.logout {
  transition-duration: 500ms;
  display: none;
}
.login:hover {
  cursor: pointer;
  transition-duration: 500ms;
  color: #314584;
}
.logout:hover {
  cursor: pointer;
  transition-duration: 500ms;
  color: #314584;
}
.onlyshowtologin {
  display: none;
}
.Blocks {
  font-size: 15px;
  width: 250px;
  height: 210px;
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.first {
  padding: 5px;
  color: #314584;
  font-size: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:visited {
  color: #6e757a;
}

.secondlast {
  padding: 5px;
  font-size: 18px;
  color: #6e757a;
}
.bigappointments {
  display: none;
}
.info {
  font-family: "aest4";
  font-size: 22px;
  margin-left: 21px;
}
